<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 

<link rel="stylesheet" href="Content/app.css">
<body>
    <div class="about-section" style="text-align: center;">
      <h1 class="display-"><%= title %></h1>
      Click the link below to view resume
      <p><a href="/Assets/images/REMEDIOS MENESES resume.pdf"><img src="/Assets/images/resume.png" alt="Remedios" width="60" height="70"></a></p>
        <p>Hello there! My name is Remedios Meneses. Welcome to my page.<br></p>
        <p>I am a passionate learner, a risk-taker, a critical thinker, and a problem solver.<br></p>
        <p>Developing passion in everything I do is one thing I am good at, I do not give up.<br></p>
        <p>I never say never, because I believe that practice makes it perfect.</p>
        <img src="/Assets/images/myPic.jpeg" alt="Remedios" width="400" height="500">
      </div>
</body>

<div class="card">
        
        <div class="container">
         
          <p><button class="button">Contact</button></p>
        </div>
</div>
    
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
  