<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1  style="text-align: center; text-decoration: dotted;">Welcome to the <%= title %> page</h1>

    </div>
  </main>
   <table class="center">
     <tr>
      <th><img src="/Assets/images/happyKids.gif" alt="Remedios" width="300" height="150" class="center"><p style="padding-right: 20px;">I am currently working a Term Project under my COMP246 course also known as Object-oriented
      Software Engineering. It is consist of a Problem Domain, a SRS and a SDD for a Happy Kids Arts System. We are a team of 5 members. Each one of us are sharing the workload 
      by inputting what is needed on our Document through GoogleDocs. We did a good job!</p></th>
      <th><img src="/Assets/images/calorie-counter.png" alt="Remedios" width="300" height="150" class="center"><p style="padding-right: 20px;">Last semester I also did a Term Project under a course-prerequisite of COMP246. Almost same components
      as the current project I am working now. It was about a Calorie Coumter App done by a group of 5 as well. The roles and responsibilities are likely related and 
      we got good marks too!</p></th>
      <th><img src="/Assets/images/distant.jpg" alt="Remedios" width="300" height="150" class="center"><p style="padding-right: 20px;" class="center">At GNED 500 course, I worked with a group of 5 regarding the Challenges and Possibilities
      of Distant Learning at Centennial College. I took the initiative to start the project and give each member the roles
      so we can come up with great ideas. With good communicable skills and hard work, we managed to get an A.</p></th>
    </tr>
  
  </table>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>