<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1  style="text-align: center; text-decoration: dotted;">Welcome to the <%= title %> page</h1>

    </div>
  </main>
   <table class="center">
     <tr>
      <th style="padding-right: 20px;"></th>
      <th style="padding-right: 20px;">fffff</th>
      <th style="padding-right: 20px;">fffff</th>
    </tr>
  
  </table>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>