<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <link rel="stylesheet" href="Content/app.css">
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center;">Welcome to the <%= title %> page</h1>
        <h3  style="text-align: center; text-decoration: dotted;">Below are some of the services I offer.</h3>
    </div>
  </main>
  <table class="center">
     <tr>
       <p></p>
      <th><img src="/Assets/images/C-Sharp.png" alt="Remedios" width="120" height="90" style="padding-left: 20px;"><p style="text-align: center;">C Sharp</p></th>
      <th><img src="/Assets/images/css.png" alt="Remedios" width="120" height="90" style="padding-left: 20px;"><p style="text-align: center;">CSS</p></th>
      <th><img src="/Assets/images/javascirpt.png" alt="Remedios" width="120" height="90" style="padding-left: 20px;"><p style="text-align: center;">JAVASCRIPT</p></th>
      <th><img src="/Assets/images/html.jpg" alt="Remedios" width="120" height="90" style="padding-left: 20px;"><p style="text-align: center;">HTML</p></th>
      <th><img src="/Assets/images/linux.png" alt="Remedios" width="120" height="90" style="padding-left: 20px;"><p style="text-align: center;">LINUX</p></th>
    </tr>
  
  </table>
  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>